<html>
<head>
</head>
<body>
	<h1>Here is the list of industries</h1>
	{%for industry in industries%}
			<a href="{{url_for('readStocks', industry_id=industry.id)}}">{{industry.name}}</a>
			</br>
			<a href="{{url_for('updateIndustry', industry_id=industry.id)}}">Edit this Industry</a>
		</br>
			<a href="{{url_for('deleteIndustry', industry_id=industry.id)}}">Delete this Industry</a>
			</br>
		</br>
	{%endfor%} 
</br>
</br>
</br>

	<a href="{{url_for('createIndustry')}}">Create New Industry</a>
	
</body>
</html>